@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  /* Colors */
  --dongker-color: rgb(32, 64, 154);
  --dark-color: rgb(33, 36, 39);
  --yellow-color: rgb(255, 199, 60);
  --yellow-25-color: rgba(255, 199, 60, 0.25);
  --orange-color: rgb(255, 154, 60);
  --orange-25-color: rgba(255, 154, 60, 0.25);

  /* Box Shadow */
  --btn-shadow: 0 18px 40px 12px;
  --text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: var(--dark-color);
}

h2 {
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 36px;
}

small {
  font-size: 12px;
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
  h2 {
    font-size: 26px;
  }
}

@media screen and (max-width: 426px) {
  h2 {
    font-size: 24px;
  }
}

/* Button */
.btn {
  border-radius: 100px;
  padding: 0.8em 1.5em;
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
  border: none;
}

.btn-sm {
  padding: 10px 20px;
  font-weight: 600;
  text-transform: capitalize;
}

.btn-bright {
  background-color: var(--yellow-color);
  box-shadow: var(--btn-shadow) var(--yellow-25-color);
  color: white;
}
.btn-bright:hover,
.btn-bright:active {
  background-color: var(--orange-color);
  box-shadow: var(--btn-shadow) var(--orange-25-color);
  color: white;
}

.btn-action {
  border-radius: 100px;
  background: transparent;
  color: white !important;
  transition: background ease 500ms;
  position: relative;
  overflow: hidden;
}
.btn-action::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 300%;
  background: linear-gradient(240deg, #59ffb9 20%, #326cff 70%);
  z-index: -1;
  transition: transform linear 800ms;
}

.btn-action:hover::before,
.btn-action:active::before {
  transform: rotate(-100deg);
}

/* Card */
.card {
  border-radius: 32px;
  border: none;
}

.card-body {
  padding: 32px;
}

/* Header */
header {
  position: fixed;
  top: 2rem;
  width: 100%;
  z-index: 999;
}

header .navbar {
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(25px);
  padding: 1em 2em;
}

header img {
  max-width: 200px;
}

header .navbar .nav-link {
  font-weight: 600;
  opacity: 1;
}

@media screen and (max-width: 769px) {
  header .navbar {
    border-radius: 32px;
    padding: 1rem;
  }

  header img {
    max-height: 35px;
  }

  header ul li {
    flex: 1 0 auto;
    text-align: center;
  }

  .btn-action::before {
    top: -60vh;
    width: 100%;
    height: calc(100vw - 2rem);
    background: linear-gradient(240deg, #59ffb9 30%, #326cff 60%);
  }
}

@media screen and (max-width: 426px) {
  header .navbar {
    margin: 0 1rem;
  }

  .btn-action::before {
    top: -25vh;
  }
}

@media screen and (max-width: 321px) {
  .btn-action::before {
    top: -17vh;
  }
}

/* Hero */
#hero {
  min-height: 960px;
  background: url("./images/Hero.png") no-repeat;
  background-size: cover;
  background-position: right center;
}

#hero > .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: center; */
  height: 100%;
  row-gap: 2.5rem;
  padding-top: 20%;
}

#hero img {
  width: 100%;
  max-width: 55%;
}

@media screen and (max-width: 769px) {
  #hero {
    background-position-x: 85%;
  }

  #hero img {
    max-width: 75%;
  }
}

@media screen and (max-width: 426px) {
  #hero {
    min-height: 943px;
    background: url("./images/hero-mobile.png") no-repeat;
    background-size: cover;
    background-position: top center;
  }

  #hero > .container {
    padding: 40% 32px 0;
  }

  #hero img {
    max-width: 100%;
  }
}

/* About */
#about {
  padding: 20vh 0;
}

#about .map {
  width: 100%;
  aspect-ratio: 4/3;
  margin-bottom: 30px;
  border-radius: 20px;
}

#about .card {
  background: linear-gradient(237deg, #59ffb9 -30.09%, #326cff 71.21%);
  color: white;
}

#about .card h2 {
  font-style: italic;
  text-shadow: var(--text-shadow);
  margin-bottom: 10px;
}

#about .card .card-title {
  font-size: 48px;
}

#about .card p {
  font-size: 1em;
  font-weight: 600;
}

#about .performance {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 20px;
}

@media screen and (max-width: 1024px) {
  #about .card .card-title {
    font-size: 36px;
  }
}

@media screen and (max-width: 426px) {
  #about .card .card-title ~ p {
    font-size: 14px;
  }
}

/* Sponsor */
#sponsorship {
  padding: 60px 0;
  background: linear-gradient(249deg, #59ffb9 -31.85%, #326cff 101.31%);
}

#sponsorship .scroller {
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  overflow-x: hidden;
}

#sponsorship .scroller .item {
  width: 291px;
  height: 144px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 40px;
}

#sponsorship .scroller .item > img {
  max-height: 94px;
  max-width: 216px;
}

/* Galeri */
#galeri {
  padding: 25vh 0;
}

#galeri img {
  aspect-ratio: 16/9;
  border-radius: 32px;
}

#galeri .carousel .carousel-control-prev,
#galeri .carousel .carousel-control-next {
  bottom: 23.3%;
}

#galeri .carousel .carousel-control-prev svg,
#galeri .carousel .carousel-control-next svg {
  width: 3em;
  height: 3em;
}

#galeri .carousel .carousel-indicators {
  position: unset;
  margin: 24px 0 0;
}

#galeri .carousel .carousel-indicators [data-bs-target] {
  height: 100%;
  opacity: 1;
  transition: filter 300ms ease;
  margin: 0;
  border: 0;
}

#galeri .row img {
  width: 100%;
  border-radius: 16px;
  filter: grayscale(1);
}

#galeri .row img.active {
  filter: grayscale(0);
}

@media screen and (max-width: 768px) {
  #galeri {
    padding: 10vh 0;
  }
}

@media screen and (min-width: 768px) {
  #galeri .carousel .carousel-control-prev svg,
  #galeri .carousel .carousel-control-next svg {
    width: 4em;
    height: 4em;
  }
}
@media screen and (min-width: 1440px) {
  #galeri > .container {
    max-width: 1024px;
  }
}

#artikel {
  padding: 20vh 0 50vh;
  background: url("./images/bg-2.jpg") no-repeat;
  background-size: cover;
  background-position: bottom center;
}

#artikel .nav {
  border-radius: 100px;
  background: linear-gradient(239deg, #59ffb9 -37.86%, #326cff 92.79%);
  backdrop-filter: blur(25px);
  width: fit-content;
  margin: 24px auto 50px;
}

#artikel .nav .nav-item .nav-link {
  padding: 10px 24px;
  font-weight: 600;
  color: white;
  background-color: transparent;
  transition: background ease 300ms;
}

#artikel .nav .nav-item .nav-link.active {
  border-radius: 100px;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.5);
}

#artikel article .frame {
  aspect-ratio: 4/3;
  border-radius: 32px;
  overflow: hidden;
}

#artikel article img {
  width: 100%;
  transform: scale(1);
  transition: transform ease 300ms;
}

#artikel article:hover img {
  transform: scale(1.1);
}

#artikel article h4 {
  font-size: 1em;
  font-weight: 700;
  margin: 20px 0 10px;
}

#artikel article:hover h4 {
  color: var(--orange-color);
}

@media screen and (max-width: 769px) {
  #artikel {
    padding: 10vh 0 70vh;
  }
}

@media screen and (max-width: 426px) {
  #artikel {
    background: url("./images/bg-2-mobile.png") no-repeat;
    background-size: contain;
    background-position: bottom;
    padding: 10vh 0 40vh;
  }

  #artikel article {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  #artikel article .frame {
    aspect-ratio: 1/1;
    height: 100px;
    border-radius: 16px;
    flex-shrink: 0;
  }

  #artikel article img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/* Footer */
footer {
  background: #28a997;
  color: white;
  padding: 5vh 0;
}

footer > .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: stretch;
  row-gap: 30px;
}

footer hr {
  border-color: white;
  border-top-width: 2px;
  width: 100%;
  margin: 0;
}
